$component: 'island';

.#{$component} {
  border-radius: 0.5rem;
  background-color: white;

  &__item {
    padding: 1rem;
    margin-bottom: 1rem;

      &_clickable {
        cursor: pointer;
      }

      &_active {
        h4 {
          color: rgb(70, 70, 199);
        }
      }
  }

  &__item + &__item {
    border-top: 1px solid rgb(47, 49, 53);
  }
}
